:root {
    --tomato: hsl(4, 100%, 67%);
    --ds-grey: hsl(234, 29%, 20%);
    --char-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;

}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--ds-grey);
}

img {
    max-width: 100%;
}

div.updates {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-image: url(../assets/icon-list.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    padding: 0rem 2rem;
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
   padding: 0 2rem 2rem 2rem;
}

label {
    font-weight: 700;
    color: var(--ds-grey);
    font-size: .8rem;
}

input {
    padding: 1rem;
    border-radius: 10px;
    border: .5px solid var(--grey);
    margin-bottom: 1rem;
}

button.btn {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--ds-grey);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.btn:hover, .btn:active {
    background-color: var(--tomato);
    box-shadow: 0px 10px 25px 0px var(--tomato); 
}

/* Success page */

body.s-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main.s-main {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    height: 100vh;
    margin-top: 8rem;
}

.s-btn {
    margin-top: auto;
}

h1.s-h1 {
    font-size: 5ch;
    line-height: 1;
}



@media (min-width: 900px) {

    body {
        background-color: var(--ds-grey);
        padding: 5rem 5rem;
    }

    main.i-main {
        flex-direction: row-reverse;
        justify-content: flex-end;
        background-color: var(--white);
        width: fit-content;
        align-items: center;
        margin-inline: auto;
        gap: 2rem;
        padding: 2rem;
        border-radius: 15px;
    }

    h1.i-h1 {
        font-size: 5ch;
    }

}